.tags-index-field {
    line-height: 1.5;
}

.tags-input {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border-width: 1px;
    border-radius: 0.25rem;
    padding: 0.5rem 0 0.25rem 0.5rem;
}

.tags-input-tag {
    display: inline-flex;
    line-height: 1;
    align-items: center;
    font-size: 0.875rem;
    background-color: var(--primary);
    color: white;
    border-radius: 0.25rem;
    user-select: none;
    padding: 0.25rem;
    margin-right: 0.25rem;
}

.tags-input-tag:focus-within {
    box-shadow: 0 0 0 2px rgba(52, 144, 220, 0.5);
}

.tags-input-remove {
    color: #2779bd;
    font-size: 1.125rem;
    line-height: 1;
}

.tags-input-remove:first-child {
    margin-right: 0.25rem;
}

.tags-input-remove:last-child {
    margin-left: 0.25rem;
}

.tags-input-remove:focus {
    outline: none;
}

.tags-input-text {
    flex: 1;
    outline: 0;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-bottom: 0.25rem;
    padding-right: 0.5rem;
    min-width: 8rem;
}
