.tags-index-field {
    line-height: 1.5;
}

.tags-input {
    flex-wrap: wrap;
    height: auto;
    min-height: 36px;
    padding-top: 0.25rem;
}

.tags-input:focus-within {
    box-shadow: 0 0 8px var(--primary);
}

.tags-input-tag {
    align-items: center;
    background-color: var(--primary);
    border-radius: 0.25rem;
    color: white;
    display: inline-flex;
    font-size: 0.875rem;
    line-height: 1;
    margin-bottom: 0.25rem;
    padding: 0.125rem 0.375rem;
    user-select: none;
}

.tags-input-remove {
    color: white;
    font-size: 1.125rem;
    margin-left: 0.25rem;
}

.tags-input-remove:focus {
    outline: none;
}

.tags-input-text {
    margin-bottom: 0.25rem;
    margin-left: 0.25rem;
    min-width: 8rem;
    outline: 0;
}

.tags-input-suggestions {
    display: flex;
    list-style: none;
    margin-top: 0.5rem;
    padding: 0;
    flex-flow: row wrap;
}

.tags-input-suggestions li {
    margin-right: 0.5rem;
}

.tags-input-suggestions .tags-input-tag {
    opacity: 0.5;
}

.tags-input-suggestions .tags-input-tag:focus {
    outline: none;
    opacity: 1;
}
